* {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #000033;
}
h1,
h2 {
  font-size: 20px;
}
h2,
h3 {
  color: #006699;
}
h4,
h5 {
  color: #7aaed5;
}
blockquote,
q,
em {
  color: #999;
}
.h1 {
  text-align: center;
}
div {
  color: #666;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14pxpx;
}
blockquote,
q {
  font-family: "Trebuchet MS";
}
em {
  font-size: 12;
}
